In [ ]:
import pandas as pd

# Read the uploaded CSV file
data = pd.read_csv('Sales.csv')

In [1]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35],
        'Salary': [50000, 60000, 45000, 70000]}

df = pd.DataFrame(data)

# Filter rows where Age is greater than 25
filtered_df = df[df['Age'] > 25]

print(filtered_df)

# what would you have to do to include 25?

    Name  Age  Salary
1    Bob   30   60000
3  David   35   70000

In [2]:
filtered_df = df[(df['Age'] > 25) & (df['Salary'] > 50000)]

print(filtered_df)

    Name  Age  Salary
1    Bob   30   60000
3  David   35   70000

In [3]:
# Filter rows where Age is less than 25
filtered_df = df[df['Age'] < 25]

print(filtered_df)

      Name  Age  Salary
2  Charlie   22   45000

In [4]:
# Filter rows where Age is greater than 25 and Salary is greater than 50000
filtered_df = df[(df['Age'] > 25) & (df['Salary'] > 50000)]

print(filtered_df)

    Name  Age  Salary
1    Bob   30   60000
3  David   35   70000

In [5]:
# Filter rows where Name contains 'a'
filtered_df = df[df['Name'].str.contains('alice', case=False)]

print(filtered_df)

    Name  Age  Salary
0  Alice   25   50000

In [6]:
# Filter rows where Name is in a given list
name_list = ['Alice', 'Charlie']
filtered_df = df[df['Name'].isin(name_list)]

print(filtered_df)

      Name  Age  Salary
0    Alice   25   50000
2  Charlie   22   45000

In [7]:
# Selecting the first row
first_row = df.iloc[0]
print("First Row using iloc:")
print(first_row)
print()

# Selecting specific rows and columns using iloc
subset_df = df.iloc[1:3, 0:2]  # Rows 1 to 2, Columns 0 to 1
print("Subset of DataFrame using iloc:")
print(subset_df)

First Row using iloc:
Name      Alice
Age          25
Salary    50000
Name: 0, dtype: object

Subset of DataFrame using iloc:
      Name  Age
1      Bob   30
2  Charlie   22

In [8]:
# Setting 'Name' column as the index
df.set_index('Name', inplace=True)

# Selecting a row by label
row_by_label = df.loc['Bob']
print("Row by Label using loc:")
print(row_by_label)
print()

# Selecting specific rows and columns using loc
subset_df_loc = df.loc[['Bob', 'Charlie'], ['Age', 'Salary']]
print("Subset of DataFrame using loc:")
print(subset_df_loc)

Row by Label using loc:
Age          30
Salary    60000
Name: Bob, dtype: int64

Subset of DataFrame using loc:
         Age  Salary
Name
Bob       30   60000
Charlie   22   45000