### Comparison Operators <br>
<br>

== : value 1's content is the same as the comparrison <br>
\!= : value 1's content is not the same as the comparrison <br>
<  : Less than <br>
\>  : Greater than <br>
<=  : Less than or equals to<br>
\>=  : Greater than or equals to <br>

In [1]:
# Numeric examples
a = 77
b = 77

print(a == b)  # False
print(a != b)  # True
print(a > b)   # False
print(a < b)   # True
print(a >= b)  # False
print(a <= b)  # True

# String examples
str1 = "hello"
str2 = "world"

print(str1 == str2)  # False
print(str1 != str2)  # True
print(str1 > str2)   # False (lexicographically greater)
print(str1 < str2)   # True (lexicographically smaller)

True
False
False
False
True
True
False
True
False
True

## Logical Operators

In [7]:
x = 5
y = 3

In [6]:
#Returns True if both statements are true
x <5 and x <10

False

In [8]:
#Returns True if one of the statements is true
x <=5 or x <4

True

In [9]:
#Reverses the result and will return False is the result is not true
not(x <5 and x < 10)

True

## IF....Else

In [ ]:
if condition:
    # Code to be executed if the condition is True

In [ ]:
if condition:
    # Code to be executed if the condition is True
else:
    # Code to be executed if the condition is False

In [ ]:
if condition1:
    # Code to be executed if condition1 is True
elif condition2:
    # Code to be executed if condition2 is True
elif condition3:
    # Code to be executed if condition3 is True
# ...
else:
    # Code to be executed if none of the above conditions is True

In [11]:
#If Else example
mark = int(input("Enter mark: "))

if mark > 65:
    print("Pass")
else:
    print("Fail")

Enter mark:  80

Pass

In [14]:
mark = int(input("Enter mark: "))

if mark > 75:
    print("Merit")
elif mark > 65:
    print("Pass")
else:
    print("Fail")

Enter mark:  78

Merit

In [ ]:
if condition1:
    # Code to be executed if condition1 is True

    if condition2:
        # Code to be executed if condition2 is True
    else:
        # Code to be executed if condition2 is False

else:
    # Code to be executed if condition1 is False

In [16]:
user_name = "Georgina"
UserName = "Amanda"
username = "Satinder"

In [17]:
if user_name == "Patric":
    print("Donna is your trainer.")
elif user_name == "Matthew":
    print("Suzannah is your trainer.")
else:
    print(user_name, "is your trainer.")

Georgina is your trainer.

In [22]:
#Nested If Example
examlevel = int(input("Enter exam level: "))

if examlevel == 3:
    mark = int(input("Enter level 3 mark: "))
    if mark > 65: # secondary condition of exam level 3
        print("Pass")
    else:
        print("Fail")

elif examlevel == 4:
    mark = int(input("Enter level 4 mark: "))
    if mark > 50:
        print("Pass")
    else:
        print("Fail")
else:
    print("Invalid Level")

Enter exam level:  3
Enter level 3 mark:  50

Fail

In [ ]:
#IF with multile conditions example
print("Menu:")
print("1 - Level 1")
print("2 - Level 2")
print("3 - Level 3")
print("4 - Level 4")

examlevel = int(input("Enter exam level: "))

In [ ]:
if examlevel == 1 or examlevel == 2:
    mark = int(input("Enter Level 1 or 2 mark: "))
    if mark > 75:
        print("Pass")
    else:
        print("Fail")
elif examlevel == 3 or examlevel == 4:
    mark = int(input("Enter Level 3 or 4 mark: "))
    if examlevel == 3 and mark > 65:
        print("Pass")
    elif examlevel == 4 and mark > 50:
        print("Pass")
    else:
        print("Fail")
else:
    print("Invalid Level")

## Lists

In [1]:
# exmaple of how to create a list
my_list = [1, 2, 3, 'apple', 'orange', True]

print(my_list)

[1, 2, 3, 'apple', 'orange', True]

In [2]:
"""
It can be useful for a variable to refer to a collection of data.
Lists refer to multiple values, which are all contained and accessible through a single variable

"""

farm_cows = ["Winnie the Moo", "Dasiy", "Milkshake", "Buttercup"]

print(farm_cows[2])

Milkshake

## List Methods

In [3]:
farm_cows = ["Winnie the Moo", "Dasiy", "Milkshake", "Buttercup"]
farm_cows.pop(1)
print(farm_cows)

['Winnie the Moo', 'Milkshake', 'Buttercup']

In [4]:
len(farm_cows)

3

In [5]:
farm_cows.append("Steve")
print(farm_cows)

['Winnie the Moo', 'Milkshake', 'Buttercup', 'Steve']

In [6]:
farm_cows.sort()
print(farm_cows)

['Buttercup', 'Milkshake', 'Steve', 'Winnie the Moo']

## List Subset

In [7]:
# A subsection of a list can be taken using the square brackets:

farm_cows = ["Winnie the Moo", "Dasiy", "Milkshake", "Buttercup"]
print(farm_cows[2])
print(farm_cows[1:3])
print(farm_cows[1:])
print(farm_cows[:3])

Milkshake
['Dasiy', 'Milkshake']
['Dasiy', 'Milkshake', 'Buttercup']
['Winnie the Moo', 'Dasiy', 'Milkshake']

## Multidimensional Lists

In [8]:
""""
A single list is useful for interacting with a row of data.
A multi dimensional list (a list made up of lists) is useful for interacting with a table of data

"""

farm_cows = ["Winnie the Moo", "Dasiy", "Milkshake", "Buttercup"]
farm_sheep = ["Baart", "Barbara"]
farm_pigs = ["Bacon", "Hamlet", "Hog"]

farm_animals = [farm_cows, farm_sheep, farm_pigs]

print(farm_animals)

print(farm_animals [2] [1])
print(farm_animals [0] [3])

[['Winnie the Moo', 'Dasiy', 'Milkshake', 'Buttercup'], ['Baart', 'Barbara'], ['Bacon', 'Hamlet', 'Hog']]
Hamlet
Buttercup

## Loosely Typed Lists

In [9]:
# A list of items can contain any data types, it can be a list that contains lists, strings, numbers etc.

farm = ["Snow Hill Farm", ["Winnie the Moo", "Daisy"], 1991]
#         string               List                     Int

print(farm[0])
print(farm[1])
print(farm[2])

Snow Hill Farm
['Winnie the Moo', 'Daisy']
1991

## Tuples

In [6]:
""""

A tuple is a read-only sequence of items separated by commas and enclosed within parentheses.
Tuples cannot be changed once they have been created.

"""

cat_list = ["Buttons", 23, 4.0]
cat_tuple = ("Mr Socks", 23, 4.0)

In [11]:
# name change
cat_list[0] = "Tigger"
print(cat_list)

['Tigger', 23, 4.0]

In [12]:
# name cannot be changed
cat_tuple[0] = "Twiglet"
print(cat_tuple)

TypeError: 'tuple' object does not support item assignment

## Sets

In [2]:
""""
A set is used to store multiple items in a single variable.
A set is a collection which is unordered, unindexed, items can be added or removed, items are unique. So cannot use index function
"""

cat_set = {"Buttons", "Mr Socks", "Twiglet" , "Twiglet"}
print(cat_set)
print(cat_set[1])

{'Mr Socks', 'Buttons', 'Twiglet'}

TypeError: 'set' object is not subscriptable

## Dictionaries

In [3]:
"""
Dictionaries are similar to lists such that they can store a collection of values,
but you usually don't use indexes to find the items.

Each value is stored with a key. When the key is searched for in the dictionary with a bracket [ ]
the value is returned.
"""

farm_animals = {"cow": "Cows go moo",
                "sheep": "Sheep go baa",
                "cat": "Cat go meow"
                }

print(farm_animals["cow"])
print(farm_animals["sheep"])
print(farm_animals["cat"])

Cows go moo
Sheep go baa
Cat go meow

In [4]:
# adding to dictionary
farm_animals = {}
farm_animals["cow"] = "Cows go moo"
farm_animals["sheep"] = "Sheep goes baa"

print(farm_animals["cow"])
print(farm_animals["sheep"])

Cows go moo
Sheep goes baa

In [5]:
farm_animals["dog"] = "Dog goes bark"
print(farm_animals)

{'cow': 'Cows go moo', 'sheep': 'Sheep goes baa', 'dog': 'Dog goes bark'}

In [7]:
# A list of keys and/or values can be retrieved using the .keys() and .values() methods within a dictionary

farm_animals = {"cow" : "Cows go moo",
		  "sheep": "Sheep goes baa",
		  "cat": "Cats go meow"
		 }

list(farm_animals.keys())

['cow', 'sheep', 'cat']

In [8]:
list(farm_animals.values())

['Cows go moo', 'Sheep goes baa', 'Cats go meow']

In [9]:
# nested dictionaries
mypets = {
  "pet1" : {
    "name" : "Fig",
    "year" : 2004
  },
  "pet2" : {
    "name" : "Ruby",
    "year" : 2007
  },
  "pet3" : {
    "name" : "Twiglet",
    "year" : 2011
  }
}

print(mypets)

{'pet1': {'name': 'Fig', 'year': 2004}, 'pet2': {'name': 'Ruby', 'year': 2007}, 'pet3': {'name': 'Twiglet', 'year': 2011}}

In [10]:
print(mypets['pet3'])

{'name': 'Twiglet', 'year': 2011}

In [11]:
print(mypets['pet3']['name'])

Twiglet